* {
    box-sizing: border-box;
  }

.section1{
   
    .usthisse{
        margin-top: 126px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2 {
                width: 194px;
                height: 106px;
        
                /* H2 */
        
                font-family: 'Graphik';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 55px;
                /* identical to box height, or 115% */
        
                text-align: center;
                letter-spacing: 0.2px;
                color: black;
            }
        
            h4 {
                width: 532px;
                height: 80px;
        
                /* H4 */
        
                font-family: 'Graphik';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 40px;
                /* or 143% */
        
                text-align: center;
                letter-spacing: 0.2px;
                color: black;
        
            }
            img{
                display: none;
            }
    }
        .videoscreen {
            display: flex;
            justify-content: center;
            height: 658.3px;
            border-radius: 40px;
        }
    .row{
        display: flex;
        justify-content: center;
    }
    .column {
        float: left;
        width: 377px;
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        .card {
            
            padding: 16px;
            text-align: center;
            h3 {
                width: 239px;
                height: 73px;
            
                    /* H3 */
            
                    font-family: 'Graphik';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    /* or 140% */
            
                    text-align: center;
                    letter-spacing: 0.1px;
                    color: $text;
                }
                                p {
                                    width: 231px;
                                    height: 100px;
                
                                    /* Paragraphe */
                
                                    font-family: 'Graphik';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 25px;
                                    /* or 139% */
                
                                    text-align: center;
                                    letter-spacing: 0.2px;
                                    color: $second-text;
                                }
            
          }
      }
      @media screen and (max-width: 391px) {
          
         h4{
             width: 376px;
         }
     
        
        .row{
          display: flex;
          flex-direction: column;
          
        }
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
          display: flex;
        }
      }
}
@media screen and (max-width: 391px) {
     .section1{
        .usthisse{
            img{
                display: block;
                width: 385px;
                margin-top: 72px;
            }

            h4{
                width: 376px;
            }
        }
        .videoscreen{
           display: none;
        }
     }   
    }  